@model MVC.ViewModels.SingerVM

@{
    ViewBag.Title = "Create";
}
@*@if (User.Identity.IsAuthenticated)
{*@
    <h2>Create</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>SingerVM</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SongStyleId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SongStyleId", ViewBag.Styles as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SongStyleId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
@*}
else
{
    <div>
        <h2>Please, Login</h2>
        @Html.ActionLink("Login", "Login", "Home")
    </div>
    <div>
        <h2>You do not have an account?</h2>
        @Html.ActionLink("Register", "Register", "User")
    </div>
}*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
